<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eric">
    <meta name="description" content="Eric's newskata site">
      <title> Home </title>
      <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul>
            <%= link_to "Home",    root_path %>
            <%= link_to "About",   about_path %>
            <%= link_to "Create an account!", signup_path %>
            </ul>
        </div>
      </nav>
      </header>
      <h1>Welcome to Eric's news site!</h1>
    <p>
      Once we are finished, we will have a working user account creation, login, and users will be able to write
      posts and comment on those posts.<br>
      There is still work to be done but I've finished based on the 6 hour guideline. <br>
      This work included setting up PostgreSQL and a simple Rails 5 app on Heroku. Some time was spent
      on the Heroku/PostgreSQL portion because it does not work out of the box for setup as per Heroku's instructions.
      There are also various issues with things like which version of Bundler is supported on Heroku which required some debuging.
    <br>
      </p>
      <p>
        There is still a ton of work left to do that I'd continue doing because it's fun, but I want to be
        honest in the amount of work completed in 6 hours.
        <ul>
          <li>Styling for the entire site. You can see my own personal site with Rails for how I might style something</li>
          <li>Testing - looking back I probably should have spent some more time testing versus trying to get features done</li>
          <li>Custom landing pages, 404, etc.</li>
          <li>Not hardcoded header/footer. Well, the routes aren't hardcoded, but the nav is</li>
          <li>Mobile first - the site doesn't look great on mobile. My own website is a better representation of what I'd have, given more time</li>
          <li>Custom icons for things like bookmarks</li>
          <li>Right now the user creation doesn't work from the signup form. Need more time (and this relates to testing) to get that straightened out</li>
          <li>I don't have the news posts done/available, yet. I know what I want to do though.</li>
          </ul>
        </p>
    </body>
</html>
